main {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.student-info {
    width: 30%;
    padding-left: 10%;
}
.MSSV, .status, .intensive-info {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
}
#bg {
    width: 100%;
}
#avatar {
    border-radius: 50%;
    border: 3px solid var(--color-white);
    width: 10%;
    object-fit: cover;
    z-index: 1000;
    position: absolute;
    top: 55%;
    left: 13%;
}
.info-nav ul {
    display: flex;
    flex-wrap: wrap;
}
.info-nav li {
    list-style: none;
    padding: 7px;    
    border: 1px solid var(--color-gray);
}
.info-nav li:hover {
    color: var(--color-blue);
}
:root {
    --color-red: #C02135;
    --color-blue: #409EFF;
    --color-white: #FFFFFF;
    --color-gray: #E4E7ED;
}
.header-nav {
    padding: 5px 10%;
}
.nav-list {
    display: flex;
}
.nav-list li {
    list-style: none;
    width: 11%;
}
.nav-link {
    text-decoration: none;
    color: var(--color-white);
}
.nav-link:hover {
    color: var(--color-blue);
}
@font-face {
  font-family: lato;
  src: url("/week4/asset/font/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: lato;
  src: url("/week4/asset/font/LATO-LIGHT.TTF") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: lato;
  src: url("/week4/asset/font/LATO-REGULAR.TTF") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: ava;
  src: url("/week4/asset/font/LINH\ AVANTGARDE\ BOLD.TTF") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: ava;
  src: url("/week4/asset/font/LINH\ AVANTGARDE\ LIGHT.TTF") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: ava;
  src: url("/week4/asset/font/LINH\ AVANTGARDE\ REGULAR.TTF") format("truetype");
  font-weight: 400;
}
* {
    font-family: ava;
}
body {
    margin: 0;
    padding: 0;
}
/*header*/
header {
    background-color: var(--color-red);
    color: var(--color-white);
}
.header-top, .logo, .welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 30%;
}
.welcome {
    width: 25%;
}
.header-top {
    padding: 0.5% 10%;
}
.box-title {
    grid-column: 2;
    white-space: nowrap;
    font-size: 1.4vw;
    align-self: end;
    font-family: ava;
    text-transform: uppercase;
}
.box-des {
    grid-row: 2;
    grid-column: 2;
    font-size: 1vw;
    align-self: start;
    font-family: lato;
    font-weight: 400; 
}
#logo {
    height: 90px;
}
#ctsv {
    height: 70px;
}
.link-show {
    width: 100%;
    padding-left: 10%;
}
.detail-list {
    list-style: none;
}
.intensive-info {
    width: 45%;
}
.text-block-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vw 0.5vw;
}
.text-bold {
    font-weight: bold;
}
/*chart & footer*/
.chart-section {
    margin-top: 20px;
    width: 100%;
}
#chart-img {
    width: 80%;
    padding-left: 10%;
}
#footer-img {
    width: 100%;
    height: 35vh;
}